extends layout.pug

block style
    style
        include ../static/style.css
        include ../static/aboutstyle.css

block content
    div.container
        div.heading
          h1 About GrooveSphere
          h4 Where Every Step Tells A Story. 
          p#content We aim to provide high quality Dance Classes and Fitness Classes with Professional Trainers and high End Management. Our instructors are skilled at identifying the specific needs of each student. We believe in enriching the Dance Education experience for everyone! 
          p#content1 We not only urge every student to strive daily for their professional best but also support one another in fostering a sense of teamwork during the class wherein they become technically proficient and build their Self Esteem, Cooperation , Leadership Skills while Having Fun!
          p#content2 Every student is inspired to find their creative self as “We Dance And Create a CONCEPT”
        div.moreinfo 
          h1 As A Team 
          h4 GrooveSphere is a one stop solution for people who are looking for 
          #row
            #col
               h2 Studio 
               h3 Dance Classes 
            #col 
               h2 Corporate
               h3 Classes
            #col
               h2 Wedding
               h3 Choreography