doctype html
html
  head
    title GrooveSphere
    block style
      style
        include ../static/style.css
  body
    nav#navbar
      ul
        li #[a(href="/") Home]
        li #[a(href="/about") About Us]
        li #[a(href="/styles") Styles]
        li #[a(href="/contact") Contact Us]
    block content
    block footer
      footer#footer
        p (c) GrooveSphere | All rights reserved.
  
            
